<div class="row">

  <div class="big col m3">
    <div class="col s12" ng-repeat="cartao in cartoes1">
      <div class="card {{cartao.tamanho}} sticky-action" style="overflow: hidden;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src="{{cartao.link_foto}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">

            <center><b ng-bind="cartao.titulo"></b></center>

            <i class="material-icons right">more_vert</i>
          </span>
        </div>

        <div class="card-action">    
          <a class="btn col s10 offset-s1 purple lighten-2" href="#" ng-click="abreModal(cartao)">Enviar Cartão</a>
          <a class="btn col s10 offset-s1 teal lighten-3" style="margin-top: 3px;" href="#">Ver mais cartões de {{cartao.tema}}</a> 
        </div>

        <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4" ng-bind="cartao.titulo"><i class="material-icons black right">close</i></span>
          <div style="text-align: center;">           
            <p ng-bind-html="cartao.texto"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big col m3">
    <div class="col s12" ng-repeat="cartao in cartoes2">
      <div class="card {{cartao.tamanho}} sticky-action" style="overflow: hidden;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src="{{cartao.link_foto}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">

            <center><b ng-bind="cartao.titulo"></b></center>

            <i class="material-icons right">more_vert</i>
          </span>
        </div>

        <div class="card-action">    
          <a class="btn col s10 offset-s1 purple lighten-2" href="#" ng-click="abreModal(cartao)">Enviar Cartão</a>
          <a class="btn col s10 offset-s1 teal lighten-3" style="margin-top: 3px;" href="#">Ver mais cartões de {{cartao.tema}}</a> 
        </div>

        <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4" ng-bind="cartao.titulo"><i class="material-icons right">close</i></span>
          <div style="text-align: center;">           
            <p ng-bind-html="cartao.texto"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big col m3">
    <div class="col s12" ng-repeat="cartao in cartoes3">
      <div class="card {{cartao.tamanho}} sticky-action" style="overflow: hidden;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src="{{cartao.link_foto}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">

            <center><b ng-bind="cartao.titulo"></b></center>

            <i class="material-icons right">more_vert</i>
          </span>
        </div>

        <div class="card-action">    
          <a class="btn col s10 offset-s1 purple lighten-2" href="#" ng-click="abreModal(cartao)">Enviar Cartão</a>
          <a class="btn col s10 offset-s1 teal lighten-3" style="margin-top: 3px;" href="#">Ver mais cartões de {{cartao.tema}}</a> 
        </div>

        <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4" ng-bind="cartao.titulo"><i class="material-icons right">close</i></span>
          <div style="text-align: center;">           
            <p ng-bind-html="cartao.texto"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big col m3">
    <div class="col s12" ng-repeat="cartao in cartoes4">
      <div class="card {{cartao.tamanho}} sticky-action" style="overflow: hidden;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src="{{cartao.link_foto}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">

            <center><b ng-bind="cartao.titulo"></b></center>

            <i class="material-icons right">more_vert</i>
          </span>
        </div>

        <div class="card-action">    
          <a class="btn col s10 offset-s1 purple lighten-2" href="#" ng-click="abreModal(cartao)">Enviar Cartão</a>
          <a class="btn col s10 offset-s1 teal lighten-3" style="margin-top: 3px;" href="#">Ver mais cartões de {{cartao.tema}}</a> 
        </div>

        <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4" ng-bind="cartao.titulo"><i class="material-icons right">close</i></span>
          <div style="text-align: center;">           
            <p ng-bind-html="cartao.texto"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>


<!-- Modal enviaCartao -->
<div id="enviarCartao" class="modal modal-fixed-footer">
  <div class="modal-content">
    <center>    
      <h4 style="text-transform: uppercase;">{{cartao.titulo}} <i class="fa fa-times clickable right" ng-click="fechaModal()"></i></h4>

    </center>

    <div class="row">
      <form class="col s12">     

        <div class="row">
          <div class="input-field col s6">
            <input id="de" type="text" class="validate" ng-model="envio.de">
            <label for="de">De:</label>
          </div>
 
          <div class="input-field col s6">
            <input id="para" type="text" class="validate" ng-model="envio.para">
            <label for="para">Para:</label>
          </div>
        </div>      

        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" ng-model="envio.email">
            <label for="email">Enviar para:</label>
          </div>
        </div>

        <div class="row">
          <form class="col s12">
             Sua mensagem:
            <div class="row">
              <div class="input-field col s12">
                <textarea id="mensagem" ng-model="envio.texto_caixa" ng-bind-html="cartao.texto_caixa" class="materialize-textarea"></textarea>              
              </div>
            </div>
          </form>
        </div>

      </form>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#!" class="purple lighten-2 white-text modal-action modal-close waves-effect btn-flat" ng-click="sendCartao(cartao, envio)">Enviar</a>
  </div>
</div>